{% load static %}
<header class="header">
    <div class="header-container">
        <nav class="header-content">
            <div class="header-menu-left">
                {% include "xperience/partials/admin/admin_brand.html" %}
                <!-- menu -->
                <ul class="header-content-menu">
                    <li><a href="{% url 'admin-workspaces' %}" title="Escolher ou trocar workspace em gestão">Workspaces</a></li>
                    <li><a href="{% url 'admin-dashboard' %}" style="color: var(--green-light); font-weight: bold;">Dashboard</a></li>
                    <li><a href="{% url 'admin-home' %}">Gerenciar</a></li>
                    <li><a href="{% url 'admin-config' %}">Configurações</a></li>
                    <li><a href="{% url 'admin-account' %}">Conta</a></li>
                    </ul>
                </div>
            {% include "xperience/partials/admin/header_menu_right_default.html" %}
        </nav>
    </div>
</header>
