MAESTRO_LOGIN=
MAESTRO_KEY=

# SAPGUI Creds
SAP_USER=
SAP_PWD=
SAP_LOGON_PATH=
SAP_LANGUAGE=
SAP_CONNECTION_NAME=

# SAPWEB Creds prd
SAPWEB_USER=
SAPWEB_PWD=
SAPWEB_URL=
SAPWEB_CONNECTION_NAME=
SAPWEB_LANGUAGE=

# PIPEFY Creds
PIPEFY_TOKEN_URL=
PIPEFY_GRAPHQL_URL=
PIPEFY_CLIENT_ID=
PIPEFY_CLIENT_SECRET=
PIPE_ID=
PHASE_ID_GERAR_RC=
PHASE_ID_GERAR_PEDIDO=
PHASE_ID_FRS=
PHASE_ID_FRS_RPA=
PHASE_ID_AGUARDANDO_APROVACAO_FRS=
PHASE_ID_FISCAL_RPA=
PHASE_ID_AGUARDANDO_APROVACAO_FISCAL=
PHASE_ID_LANCAMENTO_FISCAL_CONFERENCIA=
PHASE_ID_DIVERGENCIA=
PHASE_ID_FINALIZADO=
