<!DOCTYPE html>
<html lang="pt-br">
{% load static %}

<head>
    {% include "xperience/partials/head.html" %}
    <title>{% block title %}{% endblock title %} | Xperience</title>
    <!-- user spaceonaccount styles -->
    <link rel="stylesheet" href="{% static 'xperience/css/spaceon.css' %}?v=23">
    <link rel="stylesheet" href="{% static 'xperience/css/spaceon_account.css' %}?v=5">
    <link rel="stylesheet" href="{% static 'xperience/css/workspaces.css' %}?v=8">
    <link rel="stylesheet" href="{% static 'xperience/css/user_avatar.css' %}?v=7">
</head>



<!-- body -->
<body data-theme="dark" class="home-page spaceon-page spaceon-account-page">

    <!-- container -->
    <div class="container">
        {% include "xperience/partials/messages.html" %}
        {% block admin_account_content %}
        {% endblock admin_account_content %}
    </div>

    <!-- scripts -->
    <script src="{% static 'xperience/js/header_user_menu.js' %}?v=1" defer></script>
</body>
</html>    
