<!DOCTYPE html>
<html lang="pt-br">
{% load static %}

<head>
    {% include "xperience/partials/head.html" %}
    <title>{% block title %}{% endblock title %} | Xperience</title>
    <!-- user spaceon home styles -->
    <link rel="stylesheet" href="{% static 'xperience/css/spaceon.css' %}?v=23">
    <link rel="stylesheet" href="{% static 'xperience/css/workspaces.css' %}?v=8">
    <link rel="stylesheet" href="{% static 'xperience/css/user_avatar.css' %}?v=7">
    <link rel="stylesheet" href="{% static 'xperience/css/calendar.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'xperience/css/admin_time_tracking_home.css' %}?v=11">
</head>



<!-- body -->
<body data-theme="dark" class="home-page spaceon-page workspaces-page admin-spaceon-home-page">

    <!-- container -->
    <div class="container">
        {% include "xperience/partials/messages.html" %}
        {% block admin_home_content %}
        {% endblock admin_home_content %}
    </div>

    <!-- scripts -->
    <script src="{% static 'xperience/js/admin_spaceon_home_tabs.js' %}?v=3"></script>
    <script src="{% static 'xperience/js/admin_template_edit_modal.js' %}?v=2" defer></script>
    <script src="{% static 'xperience/js/admin_tt_schedule_dept_member_modals.js' %}?v=3" defer></script>
    <script src="{% static 'xperience/js/header_user_menu.js' %}?v=1" defer></script>
</body>
</html>
