<!DOCTYPE html>
<html lang="pt-br">
{% load static %}

<head>
    {% include "xperience/partials/head.html" %}
    <title>{% block title %}{% endblock title %} | Xperience</title>
    <!-- user spaceon home styles -->
    <link rel="stylesheet" href="{% static 'xperience/css/spaceon.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'xperience/css/button_logout.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'xperience/css/workspaces.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'xperience/css/user_avatar.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'xperience/css/calendar.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'xperience/css/admin_time_tracking_home.css' %}?v=2">
</head>



<!-- body -->
<body data-theme="dark" class="home-page spaceon-page workspaces-page">

    <!-- container -->
    <div class="container">
        {% include "xperience/partials/messages.html" %}
        {% block admin_home_content %}
        {% endblock admin_home_content %}
    </div>

    <!-- scripts -->
    <script src="{% static 'xperience/js/switch_theme.js' %}"></script>
    <script src="{% static 'xperience/js/admin_spaceon_home_tabs.js' %}?v=1"></script>
</body>
</html>
