{% load static %}
<header class="header">
    <div class="header-container">
        <nav class="header-content">
            <div class="header-menu-left">
                {% include "xperience/partials/admin/admin_brand.html" %}
                <!-- menu -->
                <ul class="header-content-menu">
                    <li style="display: none;"><a href="{% url 'admin-workspaces' %}" title="Escolher ou trocar workspace em gestão">Workspaces</a></li>
                    <li><a href="{% url 'admin-dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'admin-home' %}">Departamentos & Escalas</a></li>
                    <li><a href="{% url 'admin-mural' %}">Mural</a></li>
                    <li><a href="{% url 'admin-config' %}" style="color: var(--green-light); font-weight: bold;">Workspace</a></li>
                    </ul>
                </div>
            {% include "xperience/partials/admin/header_menu_right_default.html" %}
        </nav>
    </div>
</header>
