            <!-- menu right -->
            <div class="header-menu-right">
                {% include "xperience/partials/user/active_workspace_chip.html" %}
                <!-- button theme -->
                {% include "xperience/partials/button_theme.html" %}
                <!-- button logout -->
                {% include "xperience/partials/button_logout.html" %}
                <!-- circulo com avatar do usuario -->
                {% include "xperience/partials/user/user_avatar.html" %}
            </div>
