{% load static %}
<!-- public header -->
<header class="header">
    <div class="header-container">
        <nav class="header-content">
            <div class="header-menu-left">
                {% include "xperience/partials/public/public_brand.html" %}
                <!-- menu -->
                <ul class="header-content-menu">
                    <li><a href="{% url 'public-plataform' %}">Plataforma</a></li>
                    <li><a href="{% url 'public-solutions' %}">Soluções</a></li>
                    <li><a href="{% url 'public-resources' %}">Recursos</a></li>
                    <li><a href="{% url 'public-resources' %}">Planos</a></li>
                </ul>
            </div>
            <!-- menu right -->
            <div class="header-menu-right">
                <button type="button" class="header-auth-btn" data-auth-target="login-modal">Login</button>
                <button type="button" class="header-auth-btn" data-auth-target="register-modal">Cadastro</button>
                {% include "xperience/partials/button_theme.html" %}
            </div>
        </nav>
    </div>
</header>