{% load static %}
<header class="header">
    <div class="header-container">
        <nav class="header-content">
            <div class="header-menu-left">
                <!-- logo -->
                <a href="{% url 'public-home' %}">
                <span class="header-content-xperience">Xperience</span>
                </a>
                <!-- menu -->
                <ul class="header-content-menu">
                    <li><a href="{% url 'admin-workspaces' user_data.id %}">Workspaces</a></li>
                    <li><a href="{% url 'admin-dashboard' user_data.id %}">Dashboard</a></li>
                    <li><a href="{% url 'admin-home' user_data.id %}">Apontamentos</a></li>
                    <li><a href="{% url 'admin-config' user_data.id %}">Configurações</a></li>
                    <li><a href="{% url 'admin-account' user_data.id %}" style="color: var(--green-light); font-weight: bold;">Conta</a></li>
                    </ul>
                </div>
            <!-- menu right -->
            <div class="header-menu-right">
                <!-- button theme -->
                {% include "xperience/partials/button_theme.html" %}
                <!-- button logout -->
                {% include "xperience/partials/button_logout.html" %}
                <!-- circulo com avatar do usuario -->
                {% include "xperience/partials/user/user_avatar.html" %}
            </div>
        </nav>
    </div>
</header>