<!DOCTYPE html>
<html lang="pt-br">
{% load static %}

<head>
    {% include "xperience/partials/head.html" %}
    <!-- user workspaces styles -->
    <link rel="stylesheet" href="{% static 'xperience/css/workspaces.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'xperience/css/button_logout.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'xperience/css/user_avatar.css' %}?v=1">
    <title>{% block title %}{% endblock title %} | Xperience</title>
</head>



<!-- body -->
<body data-theme="dark" class="home-page workspaces-page">

    <!-- container -->
    <div class="container">
        {% block user_workspaces_content %}
        {% endblock user_workspaces_content %}
    </div>

    <!-- scripts -->
    <script src="{% static 'xperience/js/switch_theme.js' %}"></script>
</body>
</html>
