{% load static %}
<header class="header">
    <div class="header-container">
        <nav class="header-content">
            <div class="header-menu-left">
                {% include "xperience/partials/user/member_brand.html" %}
                <!-- menu -->
                <ul class="header-content-menu">
                    <li style="display: none;" ><a href="{% url 'user-workspaces' %}" title="Escolher ou trocar de workspace">Workspaces</a></li>
                    <li><a href="{% url 'user-dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'user-home' %}">Apontamentos</a></li>
                    <li><a href="{% url 'user-config' %}" style="color: var(--green-light); font-weight: bold;">Configurações</a></li>
                    </ul>
                </div>
            {% include "xperience/partials/user/header_menu_right_default.html" %}
        </nav>
    </div>
</header>