{% load static %}
<header class="header">
    <div class="header-container">
        <nav class="header-content">
            <div class="header-menu-left">
                <!-- logo -->
                <a href="/">
                <span class="header-content-xperience">Xperience</span>
                </a>
                <!-- menu -->
                <ul class="header-content-menu">
                    <li><a href="/user/workspaces">Workspaces</a></li>
                    <li><a href="/user/spaceon/dashboard">Dashboard</a></li>
                    <li><a href="/user/spaceon/home" style="color: var(--green-light); font-weight: bold;">Apontamentos</a></li>
                    <li><a href="/user/spaceon/config">Configurações</a></li>
                    <li><a href="/user/spaceon/account">Conta</a></li>
                    </ul>
                </div>
            <!-- menu right -->
            <div class="header-menu-right">
                <!-- button theme -->
                {% include "xperience/partials/button_theme.html" %}
                <!-- button logout -->
                {% include "xperience/partials/button_logout.html" %}
                <!-- circulo com avatar do usuario -->
                {% include "xperience/partials/user/user_avatar.html" %}
            </div>
        </nav>
    </div>
</header>